---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout siteTitle="Home" siteDescription="Home page">
  <section class="flex justify-between items-center">
    <h1
      class="text-5xl !mb-0 md:text-8xl font-bold tracking-tighter leading-tight text-transparent bg-gradient-to-b from-white to-zinc-400 bg-clip-text pb-2"
    >
      Daniel's Blog
    </h1>
    <ul class="flex list-none">
      <li
        class="transform scale-95 transition-transform hover:scale-110 hover:transition-transform"
      >
        <a
          href="https://github.com/ddanielcruzz"
          target="_blank"
          rel="noopener noref"
          class="flex items-end"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-github"
            ><path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-external-link"
            ><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path><polyline points="15 3 21 3 21 9"></polyline><line
              x1="10"
              y1="14"
              x2="21"
              y2="3"></line></svg
          >
        </a>
      </li>
      <li></li>
    </ul>
  </section>
  <div class="mt-10 flex flex-col gap-y-6">
    {
      posts.map((post) => {
        return (
          <article class="not-prose border rounded-lg p-6 border-white/10 bg-gradient-to-bl from-zinc-800 to-zinc-900">
            <section class="mb-4">
              <h2 class="text-2xl font-normal text-white">{post.data.title}</h2>
              <p class="text-lg font-light text-white/60">
                {post.data.description}
              </p>
            </section>
            <a
              class="flex items-center no-underline group w-max text-lg hover:text-white transition-colors"
              href={post.collection + "/" + post.slug}
            >
              Read more{" "}
              <span class="scale-75">
                <svg
                  width="22"
                  height="19"
                  viewBox="0 0 22 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="opacity-0 transition-opacity group-hover:opacity-100"
                    d="M18 9.5H2"
                    stroke="currentColor"
                    stroke-width="2.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    class="transition-transform transform group-hover:translate-x-[5px]"
                    d="M8 2L15.5 9.5L8 17"
                    stroke="currentColor"
                    stroke-width="2.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </a>
          </article>
        );
      })
    }
  </div>
</BaseLayout>
