---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
const { siteTitle, siteDescription } = Astro.props;
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>

  <body class="bg-zinc-900 bg-no-repeat text-zinc-200">
    <section
      class="min-h-screen flex flex-col justify-between h-full pt-10 md:pt-20"
    >
      <main
        class="prose px-10 dark:prose-invert lg:prose-xl mx-auto prose-zinc"
      >
        <slot />
      </main>
      <Footer />
    </section>
  </body>
</html>
